lxml==4.6.2
mccabe==0.6.1
mongo==0.2.0
parsel==1.6.0
pathspec==0.5.9
Protego==0.1.16
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyee==8.1.0
PyHamcrest==2.0.2
pylint==2.6.2
pymongo>=3.11
pyOpenSSL==20.0.1
pypiwin32==223
pyppeteer==0.2.5